/* 
1. <body>
2. <header>
3. <main>
4. <footer>
5. @media query
*/

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

img {
	max-width: 20em;
	height: auto;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

/* ---------------------------------------------------------------------- */
/* !!! 3. <main> !!! */

.container{
	display: flex;
	flex-flow: row wrap;
	gap: 2em;
	justify-content: space-evenly;
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <footer> !!! */

/* ---------------------------------------------------------------------- */
/* !!! 5. @media query !!! */
