/* 
1. <body>
2. <header>
3. <main>
4. <footer>
5. @media query
*/

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	margin: 0;
	display: grid;
	grid-template: repeat(3, minmax(min-content, 100vh)) / minmax(min-content, 1fr);
	grid-template-areas:
		"header"
		"main"
		"footer"
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

svg {
	max-width: 2em;
	height: auto;
	fill: currentColor;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	grid-area: header;
	background-color: #0080ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: white;
	position: absolute;
	z-index: 10;
	left: 6%;
	bottom: 10%;
	font-size: 3em;
}

header img {
	width: auto;
	max-height: 90vh;
	padding-left: 5vh;
}

header section {
	padding: 2em;
	background-color: white;
}

header section ul {
	margin: 0;
}

header section div {
	padding-top: 1.5em;
	text-align: right;
}

header section div a {
	padding: 0.5em;
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <main> !!! */

main {
	grid-area: main;
	padding: 0 2em;
}

.container {
	display: grid;
	grid-template: repeat(2, minmax(min-content, 1fr)) / repeat(3, minmax(min-content, 1fr));
	grid-auto-flow: row;
	grid-auto-rows: minmax(min-content, 1fr);
	gap: 1em;
	text-align: center;
}

.container img {
	max-width: 20em;
	height: auto;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <footer> !!! */

footer {
	grid-area: footer;
	background-color: #0080ff;
	color: white;
	display: grid;
	grid-template: minmax(min-content, 1fr) / minmax(min-content, 0.6fr) minmax(min-content, 1fr);
	grid-template-areas: "footerSection footerImg";
	align-items: center;
}

footer section {
	grid-area: footerSection;
	margin: auto;
}

footer section address {
	padding-top: 0.2em;
}

footer section address p svg {
	max-width: 1em;
	height: auto;
}

footer section address p a {
	color: white;
}

footer section address div {
	padding-top: 1.5em;
}

footer section address div a {
	padding-right: 1em;
}

footer img {
	grid-area: footerImg;
	max-width: 90%;
	height: auto;
}

/* ---------------------------------------------------------------------- */
/* !!! 5. @media query !!! */

/*@media (max-width: 59.99em) {

	header {
		display: grid;
		grid-template: minmax(min-content, 1fr) / minmax(min-content, 1fr);
	}

	header hgroup {
		justify-self: initial;
	}

	header hgroup h1 {
		position: static;
	}

	header hgroup img {
		
		height: 90%;
	}

	.container {
		display: grid;
		grid-template: repeat(3, minmax(min-content, 1fr)) / repeat(2, minmax(min-content, 1fr));
		grid-auto-flow: row;
		grid-auto-rows: minmax(min-content, 1fr);
		gap: 1em;
		text-align: center;
	}

}

@media (max-width: 39.99em) {

	.container {
		display: grid;
		grid-template: repeat(6, minmax(min-content, 1fr)) / minmax(min-content, 1fr);
		grid-auto-flow: row;
		grid-auto-rows: minmax(min-content, 1fr);
		gap: 1em;
		text-align: center;
	}

}
*/