/* 
1. <body>
2. <header>
3. <main>
4. <footer>
5. @media query
*/

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	display: grid;
	grid-template: repeat(2, minmax(min-content, 1fr)) / minmax(min-content, 1fr);
	grid-template-areas:
		"header"
		"main"
		"footer"
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

img {
	max-width: 20em;
	height: auto;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	grid-area: header;
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <main> !!! */

main {
	grid-area: main;
}

.container {
	display: grid;
	grid-template: repeat(2, minmax(min-content, 1fr)) / repeat(3, minmax(min-content, 1fr));
	grid-auto-flow: row;
	grid-auto-rows: minmax(min-content, 1fr);
	gap: 1em;
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <footer> !!! */

footer {
	grid-area: footer;
}

/* ---------------------------------------------------------------------- */
/* !!! 5. @media query !!! */
